.App {
  background-color: #131921;
  max-width: 100%;
  min-height: 100vh;

  .header-grid {
    width: inherit;
  }
  .header {
    background-color: #37475a;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    text-align: center;
    padding: 1rem;
    align-items: center;

    .avatar {
      display: none;
    }

    h1 {
      margin: auto;
    }

    h3 {
      margin: auto;
    }

    h4 {
      margin: auto;
    }

    .link-row a {
      color: white;
      margin: 0.5rem;
    }

    a:hover {
      color: #00a8e1;
    }
  }

  @media (min-width: 1280px) {
    .header {
      overflow: auto;
      position: fixed;
      top: 0;
      right: 0;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
      padding: 0rem;
      max-width: 25%;

      .avatar {
        display: flex;
        border-radius: 50%;
        width: 65%;
      }

      h1 {
        margin: 1rem 0 1rem 0;
      }

      h3 {
        margin: 1rem 0 1rem 0;
      }

      h4 {
        margin: 0 0 1rem 0;
      }
    }
  }

  #about-me {
    color: white;
    background-color: #131921;
    padding: 1.25rem;
  }

  .about-me-header {
    text-align: left;
  }

  #technical-skills-header {
    background-color: #131921;
    color: white;
    padding: 1.25rem;
    text-align: left;
  }

  .technical-skills-list {
    color: white;

    li {
      margin: 1rem;
    }
  }

  #work-experience-header {
    background-color: #131921;
    color: white;
    padding: 1.25rem;
    text-align: left;
  }

  #work-experience {
    background-color: #131921;
    color: white;
    margin: auto;

    .employment-section {
      display: flex;
      flex-direction: row;
      margin: auto;
      max-width: 95%;

      .logo-container {
        padding: 1rem;
      }

      .employment-text {
        flex-direction: column;
        padding: 1rem;

        h5 {
          margin: 0;
        }
      }
    }

    .resize {
      width: 8em;
      height: 8em;
    }

    @media (max-width: 629px) {
      #company-logo-img {
        display: none;
      }
    }
  }
}

#error-page {
  font-family: "press Start 2P";
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .error-text {
    padding: 1rem;
  }
}
